.mainpage {
  //background-color: #141316;
  background-color: #0a1413;
  color: white;
  display: flex;
}

body {
  margin: 10;
  padding: 0;
  background-color: #0a1413;
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .mainpage {
    margin-top: 100px;
    margin-left: 10px;
  }
  .mainpage,
  body {
    width: 100dvh;
  }
}
